<web-app version="2.4" 
		xmlns="http://java.sun.com/xml/ns/j2ee" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<context-param>
		<param-name>app.host</param-name>
		<param-value>localhost:8080</param-value>
	</context-param>
	<context-param>
		<param-name>app.context</param-name>
		<param-value>clfc</param-value>
	</context-param>
	
    <servlet>
		<servlet-name>JSInvoker</servlet-name>
        <servlet-class>com.rameses.web.support.JsonInvoker</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>remoteJS</servlet-name>
        <servlet-class>com.rameses.web.support.RemoteJSProxyService</servlet-class>
    </servlet>

	<servlet>
		<servlet-name>async</servlet-name>
        <servlet-class>com.rameses.web.support.AsyncResponseServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JSInvoker</servlet-name>
        <url-pattern>/jsinvoker/*</url-pattern>
    </servlet-mapping>
	
    <servlet-mapping>
        <servlet-name>remoteJS</servlet-name>
        <url-pattern>/remote-proxy/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>async</servlet-name>
        <url-pattern>/async/*</url-pattern>
    </servlet-mapping>
	
 	<!-- WebFilter Configuration  -->
    <filter>
        <filter-name>WebFilter</filter-name>
        <filter-class>com.rameses.web.support.Filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>WebFilter</filter-name>
        <url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher> 
		<dispatcher>FORWARD</dispatcher>
    </filter-mapping>  

 
	
</web-app>
