**DS_Store
*/*/build
*/*/dist
**cvs*

#-- dev common
dev\ common/*/*/build
dev\ common/*/*/dist

#-- platform
platform/*/build
platform/*/dist
platform/*/osiris2

#-- platform modules
platform/*/*/build
platform/*/*/dist
